/* Створити селектор кнопки з округлими краями, задати фоновий градієнт */
.button {
    border-radius: 5px; /* Округліть кути кнопки на 5 пікселів */
    background: var(
      --Gradient,
      linear-gradient(90deg, #2563eb 0.36%, #d946ef 201.02%)
    ); /* Задайте фоновий градієнт для кнопки */
    border: none; /* Видаліть межі кнопки */
  }
  
  .button a {
    text-decoration: none;
    color: #f9fafb;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease;
  }
  
  .button a:hover {
    color: #cacaca;
  }
  
  /* Стилізувати фонове зображення та шрифт для сторінки */
  body {
    background: url(./img/global__bg.png); /* Задайте фонове зображення для сторінки */
    background-repeat: no-repeat; /* Забороніть повторення фонового зображення */
    background-size: cover; /* Задайте розмір фонового зображення на всю ширину та висоту екрана */
    background-position: center center; /* Задайте положення фонового зображення по центру сторінки */
    font-family: "DM Sans"; /* Задайте шрифт для всього тексту на сторінці */
  }
  
  /* Стилізувати контейнер для розміщення елементів верхнього блоку */
  .container {
    /* Задайте ширину контейнера 1158 пікселів */
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* Задайте внутрішній відступ зліва 15 пікселів */
    /* Задайте внутрішній відступ справа 15 пікселів */
    /* Задайте автоматичні зовнішні відступи для вирівнювання контейнера по центру */
    outline: 2px solid white; /* Обведення контейнера білим кольором для виділення */
  }
  
  /* Стилізувати верхній блок сторінки */
  header {
    padding: 24px 0; 
    /* Задайте внутрішній відступ у 24 пікселів зверху та знизу */
  }
  
  /* Стилізувати контейнер елементів верхнього блоку */
  .header-container {
    display: flex;
    justify-content: space-between;
    /* Задайте властивість flex для гнучкого розташування елементів */
    /* Розташуйте елементи верхнього блоку рівномірно */
  }
  
  /* Стилізувати навігаційне меню */
  .header-nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    /* Задайте властивість flex для гнучкого розташування елементів */
    /* Розташуйте елементи навігаційного меню по центру */
    /* Задайте проміжок між елементами навігаційного меню 60 пікселів */
  }
  
  /* Стилізувати список елементів верхнього блоку */
  .header-list {
    display: flex;
    justify-content: center;
    gap: 60px;
    /* Задайте властивість flex для гнучкого розташування елементів */
    /* Розташуйте елементи верхнього блоку по центру */
    /* Задайте проміжок між елементами верхнього блоку 60 пікселів */
  }
  
  /* Стилізувати елементи списку верхнього блоку */
  .header-item {
    margin: 0 12px;
    /* Задайте зовнішній відступ для елементів списку верхнього блоку 12 пікселів */
  }
  
  /* Стилізувати посилання верхнього блоку */
  .header-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
     font-weight: 500;
    transition: color 0.3s ease;
    /* Видаліть підкреслення для посилань верхнього блоку */
    /* Задайте білий колір тексту для посилань верхнього блоку */
    /* Задайте розмір шрифту 14 пікселів для тексту посилань верхнього блоку */
    /* Задайте товщину шрифту 500 для тексту посилань верхнього блоку */
    /* Задайте плавний перехід для анімації тексту посилань верхнього блоку */
  }
  
  /* Змінити колір посилання верхнього блоку при наведенні на нього */
  .header-link:hover {
    color: #854691;
    /* Змініть колір тексту на фіолетовий при наведенні на посилання верхнього блоку */
  }
  
  /* Стилізувати кнопку верхнього блоку */
  .header-button {
    padding: 10px, 20px;
    line-height: 1.5;
    /* Задайте внутрішній відступ для кнопки верхнього блоку */
    /* Задайте висоту рядка 1.5 */
  }










  .solution-container {
    display: flex;
  }
  
  .start-inner {
  }
  
  .start-title {
    background: linear-gradient(to right, #8635ff, #657fff);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-size: 58px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 1.16px;
    margin-bottom: 32px;
    
    /* Задайте градієнтний фон для тексту заголовка */
    /* Зробіть фоновий градієнт видимим тільки в межах тексту */
    /* Зробіть колір тексту прозорим для використання градієнту */
    /* Додайте тінь для створення об'ємного ефекту */
    /* Розмір шрифту 58px */
    /* Товщина шрифту 700 */
    /* Висота рядка тексту 84px */
    /* Відстань між символами 1.16px */
    /* Відстань від нижнього краю 32px */
    
  }
  
  .start-article {
    color: white;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 32px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    /* Колір тексту параграфа білого */
    /* Тінь тексту для створення об'ємного ефекту */
    /* Розмір шрифту 15px */
    /* Товщина шрифту 500 */
    /* Висота рядка тексту 30px */
    /* Відстань від нижнього краю 32px */
  }
  
  .start-buttons {
    display: flex;
    /* Зробіть кнопки на блоку "start-buttons" вигнутими поруч */
  }
  
  .start-button {
    padding: 12px 24px;
    margin-right: 32px;
    /* Встановіть відступи всередині кнопки 12 px та 24px */
    /* Відступ справа від кнопки 32px */
  }
  
  .start-button-video {
    display: flex;
    align-items: center;
    background: none;
    color: white;
    border: none;
    /* Зробіть кнопку для відео вигнутою в ряд */
    /* Вирівняйте елементи по вертикалі по центру */
    /* Видаліть фон кнопки */
    /* Колір тексту кнопки білий */
    /* Видаліть межі кнопки */
  }
  
  .start-button-video span {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    /* Відступ зліва на 10 від тексту кнопки */
    /* Розмір шрифту 16px*/
    /* Товщина шрифту 500*/
    /* Звичайна висота рядка тексту */
  }